.contact-support {
  padding: 80px 20px;
  background: #f4f5f7;
  display: flex;
  justify-content: center;
  height: 700px;
  background-color: #e9eff4;   /* light background like screenshot */
  padding: 40px 60px;
  width: 100vw;
  
  
}

.support-wrapper {
  background: #ffffff;
  padding: 60px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.08);
  width: 100%;
  height: 95%;
  max-width: 1000px;
  text-align: center;
  margin-left: 12%;
  margin-bottom: 15px;
  
}

.heading {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #111;
}

.support-card {
  margin: 20px auto;
  padding: 25px 30px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}

.call {
  background: #e3e9f6;
}

.email {
  background: #f2e4e4;
}

.support-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.label {
  font-size: 22px;
  font-weight: 600;
  margin-right: 10px;
  color: #1f2f5b;
}

.email-text {
  color: #c0392b;
}

.value {
  font-size: 22px;
  color: #333;
}

.call-btn,
.email-btn {
  padding: 12px 26px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.call-btn {
  background: #1f2f5b;
  color: white;
}

.email-btn {
  background: #c0392b;
  color: white;
}

.call-btn:hover {
  background-color: #2979ff;
  transform: scale(1.05);
}

.email-btn:hover {
  background-color: #28a745;
  transform: scale(1.05);
}

.timing {
  margin-top: 35px;
  font-size: 18px;
  color: #555;
   white-space: nowrap;
   overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .support-wrapper {
    padding: 30px 20px;
  }

  .heading {
    font-size: 28px;
  }

  .support-card {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .label,
  .value {
    font-size: 18px;
  }
}

